html, body {
    font-family: 'Georgia', sans-serif;
    color: #45525B;
    font-weight: 400;
}


img {
    max-width: 100%;
}

p {
    font-size: 1rem;
    line-height: 1.375rem;
    color: #45525B;
}

h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    color: #353732;
}

h2 {
    font-size: 1.75rem;
    line-height: 2.375rem;
    color: #353732;
}

h3 {
    font-size: 1.5625rem;
    line-height: 2.125rem;
    color: #45525B;
}

h4 {
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: #45525B;
}

h5 {
    font-family: 'Poppins' sans-serif;
    font-size: 0.75rem;
    line-height: 0.75rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #353732;
}

h6 {
    font-size: 0.6875rem;
    line-height: 1.0625rem;
    color: #45525B;
}

.sect_max_width {
    margin: 0 auto;
    max-width: 778px;
}

/*---------------------------------------------------header---------------------------------------------------------*/

.nav-link {
    display: block;
    font-size: 14px;
    line-height: 16px;
    color: #353732;
    text-align: left;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    box-shadow: 0 2px 20px rgb(0, 0, 0, 0.14);
}

.header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 2;
}

.header_body {
    max-width: 1200px;
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.header_brand {
    flex: 0 0 200px;
    position: relative;
    z-index: 3;
}

.header_brand img {
    max-width: 100%;
}

.header_burger {
    display: none;
}

.header_list {
    display: flex;
    position: relative;
    z-index: 2;
    justify-content: center;
}

.header_list li {
    list-style: none;
    padding: 10px 10px 0 10px;
}

@media (max-width: 768px) {
    body.lock {
        overflow: hidden;
    }

    .header_brand {
        flex: 0 0 200px;
        margin-right: 10px;
    }

    .header_burger {
        display: block;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }

    .header_burger span {
        position: absolute;
        background-color: #353732;
        width: 30px;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header_burger::before,
    .header_burger::after {
        content: '';
        background-color: #353732;
        position: absolute;
        width: 30px;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header_burger::before {
        top: 0;
    }

    .header_burger::after {
        bottom: 0;
    }

    .header_burger.activ span {
        transform: scale(0);
    }

    .header_burger.activ::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header_burger.activ::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header_menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #fff;
        padding: 80px 0 20px 0;
        transition: all 0.3s ease 0s;
    }

    .header_menu.activ {
        top: 0;
        padding-left: 25px;
    }

    .header_list {
        display: block;
    }

    .header_list li {
        margin: 0 0 20px 0;
    }
}

.nav-link:hover {
    color: #7EB693;
    text-decoration: none;
}

/*---------------------------------------------section_1------------------------------------------------------------*/

.section_1 {
    margin-top: 200px;
}

.content_1_sect {
    margin: 0 auto;
    max-width: 700px;
}

.logo_1_sect {
    margin-bottom: 20px;
}

/*---------------------------------------------section_2------------------------------------------------------------*/
.section_2 {
    background: #FAFAFA;
    margin-top: 110px;
    padding: 100px 0;
}

.bg_bock_sect_2 {
    background: #FFFFFF;
    border: 1px solid #F8F8F8;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
}

/*------------------------1 box-----------------------*/
.block_1_padding_text {
    padding: 20px 20px 30px 20px;
}

.block_1_padding_text p {
    padding-bottom: 38px;
}

/*------------------------2 box-----------------------*/
.block_2_margin_bottom {
    margin-bottom: 20px;
}

.block_2_padding_text {
    padding: 20px 20px 30px 20px;
}

/*------------------------3 box-----------------------*/
.block_3_padding_text {
    padding: 20px 20px 30px 20px;
}

.margin_top_2_box {
    margin-top: 20px;
}


/*---------------------------------------------section_3------------------------------------------------------------*/
.sect_3_options_text {
    padding: 120px 0 145px 0;
}

.sect_3_options_text h3 {
    color: #353732;
}

.sect_3_options_text p {
    color: #353732;
}

.form__position {
    padding: 100px 0 115px 0;
}

u {
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: #353732;
    text-decoration: none;
}

.form__group {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-bottom: 10px;
}

.input {
    max-width: 375px;
    background: rgba(82, 80, 59, 0.02);
    border: 1px solid #E5E7EB;
    border-radius: 8px;
}

.input {
    outline: none;

}

.input.error {
    box-shadow: 0 0 4px 0 #ff2d2d;
}

.btn-1 {
    min-height: 38px;
    min-width: 82px;
    background: #353732;
    border-radius: 6px;
    color: #FFFFFF;
    border: none;
}

.btn-1:hover {
    color: #989898;
    text-decoration: none;
}

/*---------------------------------------------section_4------------------------------------------------------------*/
.section_4 {
    padding: 110px 0 100px 0;
    background-color: #FAFAFA;
}

.section_4 h6 {
    padding-bottom: 55px;
}

.btn-2 {
    min-width: 82px;
    font-size: 0.9375rem;
    color: #575445;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

.btn-2-padd {
    padding-right: 10px;
}

.btn-2:hover {
    background: #d3d3d3;
    border-radius: 6px;
    border: none;
    color: #424401;
    text-decoration: none;
    display: flex;
    align-items: center;
}

/*---------------------------------------------footer------------------------------------------------------------*/
.footer {
    padding: 100px 0;
}

.footer_padd_logo {
    padding-bottom: 10px;
}

.footer_a_padd a {
    padding-right: 20px;
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #45525B;
    text-decoration: none;
}

.footer_a_padd a:hover{
    color: #424401;
}

